{% extends 'partner.html.twig' %}

{% block title %}Nos partenaires - Nations Sounds{% endblock %}

{% block body %}
    <div id="title">
        <h1><img src="/img/icon/partenaires.png"/>Nos partenaires</h1>
    </div>

<div class="twit-title">
    <h1>Radios</h1>
</div>
<main class="twit-container">
        {% for partner in radio %}
            <article class="twit">
                <div class="twit-content">
                    <p class="twit-text"><img src="{{ partner.picture }}"/></p>
                    <p>{{ partner.name }}</p>   
                </div>
            </article>
        {% endfor %}
</main>

<div class="twit-title">
    <h1>Journaux</h1>
</div>
<main class="twit-container">
        {% for partner in journal %}
            <article class="twit">
                <div class="twit-content">
                    <p class="twit-text"><img src="{{ partner.picture }}"/></p>
                    <p>{{ partner.name }}</p>   
                </div>
            </article>
        {% endfor %}
</main>

<div class="twit-title">
    <h1>Boissons</h1>
</div>
<main class="twit-container">
        {% for partner in boisson %}
            <article class="twit">
                <div class="twit-content">
                    <p class="twit-text"><img src="{{ partner.picture }}"/></p>
                    <p>{{ partner.name }}</p>   
                </div>
            </article>
        {% endfor %}
</main>

<div class="twit-title">
    <h1>Chaînes</h1>
</div>
<main class="twit-container">
        {% for partner in chaîne %}
            <article class="twit">
                <div class="twit-content">
                    <p class="twit-text"><img src="{{ partner.picture }}"/></p>
                    <p>{{ partner.name }}</p>   
                </div>
            </article>
        {% endfor %}
</main>
{% endblock %}