{% extends 'baseeng.html.twig' %}

{% block title %}{{ alert.titreeng }} - Nation Sounds{% endblock %}

{% block body %}

    <div id="background-slider" style="background-image: url({{ alert.photo }});">

                <h1>{{ alert.titreeng }}</h1>
</div>
</div>
    <div id="background-alert">
    <div class="background-alert-text">
                <p>{{ alert.texteng }}</p>


                <img src="{{ alert.photo2 }}"/>
    </div>
    </div>
{% endblock %}
