{% extends 'baseeng.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}

        <div id="background-artist-show" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(2, 2, 9, 0.5), rgba(2, 2, 9, 0.5)) ,url({{ artist.photo2 }});">
                        <h1>{{ artist.name }}</h1>
        </div>

        <div id="flex-artist-show">
                <div class="artist-show-image">
                    <img src="{{ artist.photo }}" style=""/>
                </div>


                <div class="artist-show-text">


                                <p>Style : {{ artist.genre }}</p>

                                <p>Date : {{ artist.date }}</p>

                                <p>Hour : {{ artist.hour }}</p>
                                <p>Stage : {{ artist.scene }}</p>
                                <p>Presentation :</p>
                                <p>{{ artist.descriptioneng }}</p>
                                <!--  ? artist.hour|date('H:i:s') : '' -->

                </div>
        </div>
    <a href="{{ path('artist_index') }}">back to list</a>

    <a href="{{ path('artist_edit', {'name': artist.name}) }}">edit</a>

    {{ include('artist/_delete_form.html.twig') }}
<style>
.artist-show-text{
    justify-content: center;
    align-items: center;
    flex: 0 1 40%;
    margin-top: 7px;
    color: #fff;
    font-weight: bold;
}

.artist-show-text p{
    padding: 5px 0px;
    line-height: 20px;
}

.artist-show-image{
justify-content: right;
    flex: 0 1 35%;
    margin-top: 7px;
}
    #background-artist-show{
height: 450px; margin: 10px; border-radius: 10px;
background-position: top center !important;
/*background-position:center -25px !important;*/
display: flex;
align-items: center;
justify-content: center;
font-size: 24px;
color: #fff;
    background-size: cover !important;
    text-align: center
    }

#flex-artist-show{
    background-color: #4463EB;     
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    margin:10px;
    border-radius:10px;
    padding: 20px 0px;
}
.artist-show-image img{
    width: 70%;
}


@media (max-width:650px){
    #flex-artist-show{
    flex-direction: column-reverse;
}

.artist-show-image{
    margin: auto;
    text-align: center;
}
.artist-show-image img{
    width: 250px;
}

.artist-show-text {
    margin-top: 7px;
    color: #fff;
    font-weight: bold;
    width:75%;
    margin : auto;
    text-align: justify;
    text-align-last: center;
}

}
@media (max-width:450px){
    #background-artist-show{
    height: 250px;
    margin: 10px;
    border-radius: 10px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

}

</style>

{% endblock %}
