{% extends 'baseeng.html.twig' %}


{% block title %}Program - Nations Sounds{% endblock %}
{% block body %}
<div class="background">

           <div class="carousel-slider" id="responsive">
                    <h1 style="color:#fff;"><img src="/img/icon/partenaires.png"/>Pop Folk Scene</h1>
                        <div class="carousel-content" data-grid='{"xl":1,"lg":1,"md":1,"sm":1}' data-pagination="true">

                                <aside class="slide-item" style="">
                                        <table class="table-friday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Friday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistpopfriday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>
                                <aside class="slide-item" style="">
                                        <table class="table-saturday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Saturday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistpopsaturday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>

                                <aside class="slide-item" style="">
                                        <table class="table-sunday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Sunday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistpopsunday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>


                        </div>
                    <button class="carousel-prev-btn"><</button>
                    <button class="carousel-next-btn">></button>
                        <div class="carousel-pagination"></div>
            </div>
</div>
<div class="background">

           <div class="carousel-slider" id="responsive">
                    <h1 style="color:#fff;"><img src="/img/icon/partenaires.png"/>Rock Scene</h1>
                        <div class="carousel-content" data-grid='{"xl":1,"lg":1,"md":1,"sm":1}' data-pagination="true">

                                <aside class="slide-item" style="">
                                        <table class="table-friday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Friday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistrockfriday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>
                                <aside class="slide-item" style="">
                                        <table class="table-saturday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Saturday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistrocksaturday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>

                                <aside class="slide-item" style="">
                                        <table class="table-sunday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Sunday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistrocksunday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>


                        </div>
                    <button class="carousel-prev-btn"><</button>
                    <button class="carousel-next-btn">></button>
                        <div class="carousel-pagination"></div>
            </div>
</div>
<div class="background">

           <div class="carousel-slider" id="responsive">
                    <h1 style="color:#fff;"><img src="/img/icon/partenaires.png"/>RAP Scene</h1>
                        <div class="carousel-content" data-grid='{"xl":1,"lg":1,"md":1,"sm":1}' data-pagination="true">

                                <aside class="slide-item" style="">
                                        <table class="table-friday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Friday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistrapfriday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>
                                <aside class="slide-item" style="">
                                        <table class="table-saturday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Saturday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistrapsaturday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>

                                <aside class="slide-item" style="">
                                        <table class="table-sunday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Sunday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistrapsunday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>


                        </div>
                    <button class="carousel-prev-btn"><</button>
                    <button class="carousel-next-btn">></button>
                        <div class="carousel-pagination"></div>
            </div>
</div>
<div class="background">

           <div class="carousel-slider" id="responsive">
                    <h1 style="color:#fff;"><img src="/img/icon/partenaires.png"/>Jazz Scene</h1>
                        <div class="carousel-content" data-grid='{"xl":1,"lg":1,"md":1,"sm":1}' data-pagination="true">

                                <aside class="slide-item" style="">
                                        <table class="table-friday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Friday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistjazzfriday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>
                                <aside class="slide-item" style="">
                                        <table class="table-saturday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Saturday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistjazzsaturday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>

                                <aside class="slide-item" style="">
                                        <table class="table-sunday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Sunday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistjazzsunday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>


                        </div>
                    <button class="carousel-prev-btn"><</button>
                    <button class="carousel-next-btn">></button>
                        <div class="carousel-pagination"></div>
            </div>
</div>
<div class="background">

           <div class="carousel-slider" id="responsive">
                    <h1 style="color:#fff;"><img src="/img/icon/partenaires.png"/>Electro DJ Scene</h1>
                        <div class="carousel-content" data-grid='{"xl":1,"lg":1,"md":1,"sm":1}' data-pagination="true">

                                <aside class="slide-item" style="">
                                        <table class="table-friday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Friday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistdjfriday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>
                                <aside class="slide-item" style="">
                                        <table class="table-saturday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Saturday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistdjsaturday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>

                                <aside class="slide-item" style="">
                                        <table class="table-sunday">
                                            <caption style="font-weight: bold; padding: 20px 0px;">Sunday</caption>
                                                  <tr>
                                                    <th>Artists</th>
                                                    <th>Hour</th>
                                                  </tr>
                            {% for artist in artistdjsunday %}

                                                  <tr>
                                                    <td><p><a href="{{ path('artist_showeng', {'name': artist.name}) }}">{{ artist.name }}</a></p></td>
                                                    <td><p>{{ artist.hour }}</p></td>
                                                  </tr>                                
                                
                            {% endfor %}
                            </table>        
                            </aside>


                        </div>
                    <button class="carousel-prev-btn"><</button>
                    <button class="carousel-next-btn">></button>
                        <div class="carousel-pagination"></div>
            </div>
</div>

{% endblock %}
